



@use "../styles" as color

@font-face
    font-family: 'GN Kill Gothic'
    src: url('../assets/fonts/GN-KillGothic-U-KanaNA.ttf') format('truetype')
    font-weight: normal
    font-style: normal

@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@400;700&family=Oregano:ital@0;1&display=swap')
// font-family: 'Cherry Swash', cursive
// font-family: 'Oregano', cursive

.wrapper
    background-image: url("https://i.imgur.com/LsnbaDv.jpg")
    background-size: 300px 250px
    font-family: 'Cherry Swash', 'Times New Roman', Times, serif

$navbar_item_pad: 0.5em
nav
    position: sticky
    top: 0
    z-index: 1
    background-color: color.$white
    border-bottom: 2px solid color.$prime_dark
    display: flex
    gap: 0.5vw
    justify-content: center
    padding: 0 2vw
    font-family: "GN Kill Gothic", sans-serif, serif
    box-shadow: 0 0 2px 1vw rgba(color.$black , 0.25)
    a
        cursor: pointer
        display: block
        font-size: 1.25rem
        transition: 80ms
        padding: $navbar_item_pad $navbar_item_pad calc( $navbar_item_pad - 0.1em ) $navbar_item_pad
        &:hover
            background-color: color.$black
            color: color.$white
            opacity: 1
        &:nth-of-type(1)
            opacity: 0.2
        &:nth-of-type(2)
            opacity: 0.4
        &:nth-of-type(3)
            opacity: 0.6
        &:nth-of-type(4)
            opacity: 0.8

        &:nth-of-type(9)
            opacity: 0.2
        &:nth-of-type(8)
            opacity: 0.4
        &:nth-of-type(7)
            opacity: 0.6
        &:nth-of-type(6)
            opacity: 0.8
    .current
        background-color: color.$black
        color: color.$white
            

$banner_top_pad: 10vh
.banner
    display: flex
    justify-content: center
    align-items: center
    gap: 2vw
    padding-top: $banner_top_pad
    background-color: color.$prime_dark
    border-bottom: 2px solid color.$white
    &::before
        content: ""
        position: absolute
        width: 100%
        height: calc( $banner_top_pad + 28.5vw )
        top: 0
        background-image: linear-gradient(to bottom, rgba(color.$white, 1)20%, rgba(black , 0)20%, rgba(black , 0)25%, rgba(color.$white, 1)25%, rgba(color.$white, 1)27%, rgba(black , 0)27%, rgba(black , 0)30%, rgba(color.$white, 1)30%, rgba(color.$white, 1)31%, rgba(black , 0)31%)


    .banner_text
        position: relative
        -webkit-text-stroke: 0.02em color.$black
        font-weight: 900
        font-size: 4rem
        font-family: "GN Kill Gothic", sans-serif, serif
        color: color.$white
        .banner_title
            display: block
            margin: 0.15em 0
        .footer
            font-size: 0.5em
            translate: 0 0.15em
            display: block

    .logo
        width: 30vw
        position: absolute

    .banner_side_img
        position: relative
        aspect-ratio: 4/5
        width: 20vw
        min-width: 20rem
        overflow: hidden
        align-self: flex-end
        img
            width: 20vw
            min-width: 20rem

.paper
    background-color: color.$paper_base
    background-image: url("https://i.imgur.com/zuWGzy3.png")
    background-size: 20%
    box-sizing: border-box
    max-width: 80%
    min-width: 120ch
    padding: 2vw
    margin: 2vw auto
    .paper_border
        border: 0.25rem solid color.$paper_border
        padding: 3vw
        .paper_content
            background-color: color.$paper_overlay_1
            padding: 3vw
            position: relative
            font-size: 1.5rem
            >.title
                color: color.$toho_prime
                width: max-content
                font-size: 3rem
                font-weight: 700
                position: absolute
                left: 50%
                translate: -50% calc( -50% - 3vw )
                isolation: isolate
                &::before
                    content: ""
                    position: absolute
                    background-color: color.$paper_overlay_2
                    width: 1.313em
                    height: 1.313em
                    rotate: 45deg
                    left: 50%
                    translate: -50%
                    z-index: -1
                &::after
                    content: "Invitation"
                    display: block
                    position: absolute
                    width: max-content
                    left: 50%
                    translate: -50% -25%
                    background-color: color.$toho_second
                    padding: 0em 0.5em
                    font-size: 0.4em
                    font-weight: 400
                    color: color.$paper_base
            p
                margin: 0.5em
            .schedule
                background-color: color.$paper_overlay_2
                margin: auto
                margin-top: 2vw
                padding: 2vw
                text-align: center
                font-size: 2rem
                color: color.$toho_prime
                .title
                    font-weight: 700
                    font-size: 1.25em
                .time
                    margin-top: -0.25em
                    span
                        &:first-of-type
                            display: block
                            translate: 0 0.25em
            .button
                text-decoration: none
                display: block
                width: max-content
                margin: auto
                margin-top: 2vw
                color: color.$white
                font-weight: 700
                padding: 0.75em 1em
                background-color: color.$toho_prime
                transition: 200ms
                cursor: pointer
                clip-path: polygon(0 0, calc( 100% - 1em ) 0%, 100% 1em, 100% 100%, 1em 100%, 0 calc( 100% - 1em ))
                &:hover                
                    clip-path: polygon(0 0, 100% 0%, 100% 0em, 100% 100%, 0em 100%, 0 100%)
                    text-shadow: 0 0 0.25em rgba(color.$paper_base, 0.5)

                        

                

.display
    padding: 2vw 0

h2
    text-align: center
    margin-bottom: 0.5em

app-data-container
    display: flex
    flex-wrap: wrap
    width: 100%
    justify-content: center
    gap: 2vw