

<div class="wrapper">
  <div class="banner">
    <!-- <img class="logo" src="https://i.imgur.com/sXkUj2O.png" alt=""> -->
    <div class="banner_side_img">
      <img src="https://i.imgur.com/eBzmL1d.png" alt="">
    </div>
    <div class="banner_text">
      <span class="banner_title">
        It's time for
      </span>
      <span>
        TOHO VOTE <span>- 2023</span>
      </span>
    </div>
  </div>
  <div class="display">
    <h2>
      Data Objects
    </h2>
    <app-data-container></app-data-container>
  </div>
</div>